{
    "tabWidth": 3,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "useTabs": false,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "singleAttributePerLine": true
}
