.carrousel {
  margin: 100px;
  position: relative;
}
.img_carrousel {
  width: 100%;
  height: 415px;
  border-radius: 20px;
  object-fit: cover;
}
.material-symbols-outlined {
  position: absolute;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
