.galerry {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 35px 50px 35px;
    margin: 40px 100px 40px 100px;
    background: #f6f6f6;
    border-radius: 20px;
}


@media screen and (max-width: 900px) {
    .galerry {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 100%;
        gap: 20px;
        background-color: white;
    }
}
