.header {
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.header__logo {
   padding: 0;
   width: 210px;
   height: 68px;
}
.header__nav a {
   margin-left: 30px;
   font-size: 24px;
   font-weight: 500;
   line-height: 35px;
   color: #ff6060;
   letter-spacing: 0em;
   text-decoration: none;
}
.header__nav a:hover {
   text-decoration: underline;
}

@media screen and (max-width: 800px) {
   .header {
      margin-left: 20px;
      margin-right: 20px;
      align-items: center;
   }
   .header__logo {
      width: 145px;
      height: 47px;
   }
   .header__nav a {
      margin-left: 10px;
      font-size: 12px;
      line-height: 17px;
   }
}