.not {
   margin: 0;
   padding: 0;
   text-align: center;
}
.not__title {
   color: #ff6060;
   font-weight: bold;
   font-size: 288px;
   letter-spacing: 0em;
   margin: 0 auto;
   margin-top: 50px;
   padding: 0;
}
.not__description {
   color: #ff6060;
   font-size: 36px;
   font-weight: 500;
   margin: 0 auto;
   margin-bottom: 100px;
}
.not__link {
   color: #ff6060;
   font-size: 18px;
   font-weight: 500;
   margin-top: 150px;
}
